In [1]:
## This file is to explore the data and engineer the features

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime as dt
from sklearn import metrics

import DataProcessing as dp #This is customized module




class files(object):
    path_root = '/Volumes/Data/Downloads/Thunder/Uber'
    path_data = '/201408_trip_data.csv'
    path = path_root+path_data
    path_new = path[:-4]+'_new.csv'
    path_new_2 = path[:-4]+'_new_2.csv'
    path_out_clustering = path[:-4] + '_cluster_out.csv'

In [3]:
'''This function applys unsupervised learning - clustering, to analyse the data in order to find churn
'''
## Step 1. Read the preprocessed data, then drop some columns	
path_new_2 = files.path_new_2
path_new = files.path_new
path_out_clustering = files.path_out_clustering
clns_to_drop = ['Trip ID', 'Start Date_month', 'Start Date_total_seconds', 'End Date_month', 'End Date_total_seconds']
df = pd.read_csv(path_new_2)
df = df.drop(clns_to_drop, axis = 1)
header = df.columns.tolist()
## Step 2. Construct sklearn constructor, and do some prediction
data = df.values
from sklearn.cluster import KMeans
model = KMeans(n_clusters=2, init='k-means++', n_init=10, max_iter=300, tol=0.0001, precompute_distances='auto', verbose=0, random_state=None, copy_x=True, n_jobs=1)
label = model.fit_predict(data)

In [8]:
print label.transpose().shape

(171792,)

In [12]:
label = label.reshape(len(label),1)

In [14]:
df_out = pd.DataFrame(label, columns = ['label'])
df_original = pd.read_csv(path_new)
df_out = pd.concat([df_original, df_out], axis = 1)
df_out.to_csv(path_out_clustering)

In [124]:
reload(dp)
tp = dp.datetimeparse

In [6]:
path_root = path_root = '/Volumes/Data/Downloads/Thunder/Uber'
path_data = '/201408_trip_data.csv'

In [7]:
df = pd.read_csv(path_root+path_data)

In [5]:
print df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 171792 entries, 0 to 171791
Data columns (total 11 columns):
Trip ID            171792 non-null int64
Duration           171792 non-null int64
Start Date         171792 non-null object
Start Station      171792 non-null object
Start Terminal     171792 non-null int64
End Date           171792 non-null object
End Station        171792 non-null object
End Terminal       171792 non-null int64
Bike #             171792 non-null int64
Subscriber Type    171792 non-null object
Zip Code           171581 non-null object
dtypes: int64(5), object(6)
memory usage: 15.7+ MB
None

In [6]:
print df.describe()

             Trip ID       Duration  Start Terminal   End Terminal  \
count  171792.000000  171792.000000   171792.000000  171792.000000
mean   315198.766503    1132.514250       57.403622      57.382090
std     67369.726104    6084.234943       17.599744      17.668405
min    198776.000000      60.000000        2.000000       2.000000
25%    256967.750000     345.000000       50.000000      50.000000
50%    314366.500000     517.000000       61.000000      61.000000
75%    373070.250000     761.000000       70.000000      70.000000
max    432946.000000  716480.000000       84.000000      84.000000

              Bike #
count  171792.000000
mean      429.216692
std       151.841710
min         9.000000
25%       335.000000
50%       442.000000
75%       546.000000
max       878.000000

In [9]:
len(df['Zip Code'].unique())

3527

In [18]:
arr = df.columns.tolist()

In [12]:
arr.reshape(len(arr),1)

array([['Trip ID'],
       ['Duration'],
       ['Start Date'],
       ['Start Station'],
       ['Start Terminal'],
       ['End Date'],
       ['End Station'],
       ['End Terminal'],
       ['Bike #'],
       ['Subscriber Type'],
       ['Zip Code']], dtype=object)

In [19]:
df_header = pd.DataFrame(arr, columns = ['cln_names'])

In [17]:
df_header

          cln_names
0           Trip ID
1          Duration
2        Start Date
3     Start Station
4    Start Terminal
5          End Date
6       End Station
7      End Terminal
8            Bike #
9   Subscriber Type
10         Zip Code

In [16]:
len(df['End Terminal'].unique())

70

In [17]:
len(df['End Station'].unique())

70

In [20]:
df['End Date'][1]

'8/31/2014 22:15'

In [21]:
from datetime import datetime as dt

In [22]:
dt.today()

datetime.datetime(2015, 9, 24, 10, 3, 37, 36831)

In [26]:
test_time = dt.strptime(df['End Date'][1], "%m/%d/%Y %H:%M")

In [1]:
lst = [1,2,3,4]
idx = [True, True, False, False]
lst[idx]

TypeError: list indices must be integers, not list

In [134]:
reload(dp)
tp = dp.datetimeparse
new_df_1 = tp.split(df['Start Date'], time_str_format = "%m/%d/%Y %H:%M", columns = ['month', 'day'], special_columns = dt(2014, 3, 1, 0, 0, 0, 0))

In [135]:
new_df_1

        Start Date_month  Start Date_day  Start Date
0                      8              31    15892260
1                      8              31    15890820
2                      8              31    15890760
3                      8              31    15889500
4                      8              31    15889440
5                      8              31    15889440
6                      8              31    15889380
7                      8              31    15889380
8                      8              31    15889320
9                      8              31    15889320
10                     8              31    15889260
11                     8              31    15889200
12                     8              31    15888480
13                     8              31    15887640
14                     8              31    15887160
15                     8              31    15887160
16                     8              31    15886020
17                     8              31    15885420
18                     8              31    15885300
19                     8              31    15885300
20                     8              31    15884100
21                     8              31    15884100
22                     8              31    15884040
23                     8              31    15883440
24                     8              31    15883440
25                     8              31    15883140
26                     8              31    15883020
27                     8              31    15882420
28                     8              31    15881940
29                     8              31    15881760
...                  ...             ...         ...
171762                 3               1       31860
171763                 3               1       31680
171764                 3               1       31440
171765                 3               1       31200
171766                 3               1       31200
171767                 3               1       31140
171768                 3               1       30960
171769                 3               1       30900
171770                 3               1       30720
171771                 3               1       30540
171772                 3               1       29880
171773                 3               1       28620
171774                 3               1       23460
171775                 3               1       16980
171776                 3               1       13860
171777                 3               1       13800
171778                 3               1       11400
171779                 3               1       11220
171780                 3               1       11160
171781                 3               1       10620
171782                 3               1       10500
171783                 3               1       10260
171784                 3               1        4920
171785                 3               1        3540
171786                 3               1        3540
171787                 3               1        2520
171788                 3               1        1320
171789                 3               1        1260
171790                 3               1         960
171791                 3               1         840

[171792 rows x 3 columns]

In [57]:
test_time.timetuple()

time.struct_time(tm_year=2014, tm_mon=8, tm_mday=31, tm_hour=22, tm_min=15, tm_sec=0, tm_wday=6, tm_yday=243, tm_isdst=-1)

In [74]:
dt.today().timetuple()

time.struct_time(tm_year=2015, tm_mon=9, tm_mday=24, tm_hour=13, tm_min=17, tm_sec=40, tm_wday=3, tm_yday=267, tm_isdst=-1)

In [60]:
dff = df['End Date']

In [75]:
dff[1]

'8/31/2014 22:15'

In [126]:
special_columns = dt(2014, 3, 1, 0, 0, 0, 0)

In [128]:
(test_time - special_columns).total_seconds()/(3600*24)

183.92708333333334

In [129]:
special_columns.timetuple()

time.struct_time(tm_year=2014, tm_mon=3, tm_mday=1, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=5, tm_yday=60, tm_isdst=-1)

In [82]:
np.zeros([2,2])

array([[ 0.,  0.],
       [ 0.,  0.]])

In [93]:
tf = None

In [94]:
gg = 1
if tf:
    print gg

In [110]:
pd.DataFrame(np.zeros([3,1]), columns = ['test'])

   test
0     0
1     0
2     0

In [118]:
num_rows = 100000
num_clns_2 = 1
new_cln_names_2 = ['total_seconds']
new_df_2 = pd.DataFrame(np.zeros([num_rows, num_clns_2]), columns = new_cln_names_2)

In [119]:
new_df_2

       total_seconds
0                  0
1                  0
2                  0
3                  0
4                  0
5                  0
6                  0
7                  0
8                  0
9                  0
10                 0
11                 0
12                 0
13                 0
14                 0
15                 0
16                 0
17                 0
18                 0
19                 0
20                 0
21                 0
22                 0
23                 0
24                 0
25                 0
26                 0
27                 0
28                 0
29                 0
...              ...
99970              0
99971              0
99972              0
99973              0
99974              0
99975              0
99976              0
99977              0
99978              0
99979              0
99980              0
99981              0
99982              0
99983              0
99984              0
99985              0
99986              0
99987              0
99988              0
99989              0
99990              0
99991              0
99992              0
99993              0
99994              0
99995              0
99996              0
99997              0
99998              0
99999              0

[100000 rows x 1 columns]

In [15]:
arr = np.array([0,1,2,3,0,1])

In [17]:
sum(arr>0)

4

In [2]:
from sklearn import metrics
arr = np.array([0.1, 0.1, 0.2, 0.6, 0.7, 1.0])

In [5]:
(arr > 0.5).astype(int)

array([0, 0, 0, 1, 1, 1])