In [1]:
import pandas as pd
import numpy as np
import DataProcessing as dp
import xgboost as xgb

In [2]:
root_path = "/Volumes/Data/Kaggle/Springleaf"
train_file = root_path + "/train.csv"
test_file = root_path + "/test.csv"
train_file_mini = root_path + "/train_mini.csv"
test_file_mini = root_path + "/test_mini.csv"

In [3]:
df_train = pd.read_csv(train_file)
df_test = pd.read_csv(test_file)

/Library/Python/2.7/site-packages/pandas/io/parsers.py:1170: DtypeWarning: Columns (8,9,10,11,12,43,157,196,214,225,228,229,231,235,238) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)
/Library/Python/2.7/site-packages/pandas/io/parsers.py:1170: DtypeWarning: Columns (8,9,10,11,12,43,157,167,177,196,214,225,228,229,231,235,238) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

In [11]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 145231 entries, 0 to 145230
Columns: 1934 entries, ID to target
dtypes: float64(477), int64(1406), object(51)
memory usage: 2.1+ GB

In [12]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 145232 entries, 0 to 145231
Columns: 1933 entries, ID to VAR_1934
dtypes: float64(477), int64(1405), object(51)
memory usage: 2.1+ GB

In [10]:
df_train[:2000].to_csv(train_file_mini, index=False)

In [9]:
df_test[:2000].to_csv(test_file_mini, index=False)

In [5]:
df_train = pd.read_csv(train_file_mini,low_memory=False)
df_test = pd.read_csv(test_file_mini,low_memory=False)

In [4]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000 entries, 0 to 1999
Columns: 1934 entries, ID to target
dtypes: bool(13), float64(478), int64(1406), object(37)
memory usage: 29.4+ MB

In [7]:
df_train.describe()

,ID,VAR_0002,VAR_0003,VAR_0004,VAR_0006,VAR_0007,VAR_0008,VAR_0009,VAR_0010,VAR_0011,...,VAR_1925,VAR_1926,VAR_1927,VAR_1928,VAR_1929,VAR_1930,VAR_1931,VAR_1932,VAR_1933,target
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000,2000,2000,2000,...,2000.000000,2000.000000,2000.000000,2000.000000,2.000000e+03,2000.00000,2000.000000,2000.000000,2000.000000,2000.000000
mean,1942.109000,109.591500,90.687500,3721.275500,0.650000,0.511500,0,0,0,0,...,0.673000,87.177000,89.912000,915.167500,9.915000e+08,927.54550,938.560500,9962.820000,8900.451000,0.217500
std,1118.162488,150.557768,128.100666,8714.514664,1.575672,1.833725,0,0,0,0,...,7.324814,30.732473,26.811727,275.315117,9.182571e+07,203.70234,204.242113,590.226453,3114.830968,0.412649
min,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,False,False,False,False,...,0.000000,0.000000,0.000000,0.000000,0.000000e+00,1.00000,0.000000,0.000000,5.000000,0.000000
25%,989.500000,24.000000,14.000000,1800.000000,0.000000,0.000000,0,0,0,0,...,0.000000,98.000000,98.000000,998.000000,1.000000e+09,998.00000,998.000000,9998.000000,9998.000000,0.000000
50%,1949.000000,61.000000,60.000000,2530.500000,0.000000,0.000000,0,0,0,0,...,0.000000,98.000000,98.000000,998.000000,1.000000e+09,998.00000,998.000000,9998.000000,9998.000000,0.000000
75%,2895.250000,140.000000,123.000000,3602.000000,1.000000,1.000000,0,0,0,0,...,0.000000,98.000000,98.000000,998.000000,1.000000e+09,998.00000,998.000000,9998.000000,9998.000000,0.000000
max,3889.000000,999.000000,999.000000,290200.000000,17.000000,66.000000,False,False,False,False,...,99.000000,99.000000,99.000000,999.000000,1.000000e+09,999.00000,999.000000,9999.000000,9999.000000,1.000000