In [3]:
## This notebook is created on 15:47, 5 Sept 2015
## The aim is to practice input and output in python
f = open('./workfile','w+')

In [4]:
f.write('0123456789abcdef')

In [5]:
f.seek(5)

In [6]:
f.read(1)

'5'

In [7]:
f.seek(3,0)

In [8]:
f.read(1)

'3'

In [9]:
f.seek(-2,1)

In [10]:
f.read(1)

'2'

In [11]:
f.seek(-1,2)

In [12]:
f.read(1)

'f'

In [16]:
f.close()

In [14]:
import json

In [15]:
json.dumps([1, 'simple', 'list'])

'[1, "simple", "list"]'

In [1]:
import re

In [2]:
re.sub(r'(\b[a-z]+) \1', r'\1', 'cat in the the hat')

'cat in the hat'

In [4]:
re.sub(r'(\b[a-z]+) \1 \1', r'\1', 'cat in the the the hat')

'cat in the hat'

In [5]:
re.sub(r'(\b[a-z]+) \1 \1', r'\1', 'cat in the the hat')

'cat in the the hat'

In [8]:
from datetime import date

In [9]:
now = date.today()

In [10]:
now

datetime.date(2015, 9, 6)

In [11]:
birthday = date(1987, 10, 5)

In [12]:
age = now - birthday

In [13]:
age.days

10198

In [17]:
age.days

10198

In [1]:
str1 = 'abcdefgh'

In [3]:
str1[:-4]

'abcd'

In [1]:
def myfun(a):
    if (a==3):
        return 'The input is 3'
    print 'Hahaha'

In [2]:
myfun(4)

Hahaha

In [3]:
myfun(3)

'The input is 3'

In [1]:
import pandas as pd

In [12]:
import numpy as np

In [13]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'foo'], 'B' : ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'], 'C' : np.random.randn(8), 'D' : np.random.randn(8)})

In [14]:
df

     A      B         C         D
0  foo    one  0.264082 -1.162777
1  bar    one  0.454901 -0.289047
2  foo    two -1.449319  1.548724
3  bar  three  2.341849 -2.231452
4  foo    two -0.263120 -1.685584
5  bar    two -0.387677  0.814939
6  foo    one  0.478437  0.256044
7  foo  three  0.473591 -0.113536

In [15]:
grouped = df.groupby('A')

In [16]:
grouped

In [26]:
for ele in grouped:
    print type(ele)
    print ele[1]
    print type(ele[1])

<type 'tuple'>
     A      B         C         D
1  bar    one  0.454901 -0.289047
3  bar  three  2.341849 -2.231452
5  bar    two -0.387677  0.814939
<class 'pandas.core.frame.DataFrame'>
<type 'tuple'>
     A      B         C         D
0  foo    one  0.264082 -1.162777
2  foo    two -1.449319  1.548724
4  foo    two -0.263120 -1.685584
6  foo    one  0.478437  0.256044
7  foo  three  0.473591 -0.113536
<class 'pandas.core.frame.DataFrame'>

In [29]:
df_new = ele[1]

In [35]:
df_new['A']

0    foo
2    foo
4    foo
6    foo
7    foo
Name: A, dtype: object

In [39]:
df_new['A'][[3]]

3    NaN
Name: A, dtype: object

In [45]:
df_new['A'].iloc[3]

'foo'

In [52]:
df_new['B'].unique()

array(['one', 'two', 'three'], dtype=object)

In [1]:
a = ['a', 'b', 1, 2, 3]

In [2]:
a

['a', 'b', 1, 2, 3]

In [3]:
17564.0/28280

0.6210749646393211

In [6]:
s = 'abcd'

In [9]:
s[::-1]

'dcba'

In [10]:
def func(a, b = 10):
    return a+b

In [11]:
func(1,4)

5

In [12]:
func(2)

12

In [13]:
def f(a, data=[]):
    data.append(a)
    return data

In [14]:
f(1)

[1]

In [15]:
f(2)

[1, 2]

In [16]:
lst = dir(int)

In [17]:
lst

['__abs__',
 '__add__',
 '__and__',
 '__class__',
 '__cmp__',
 '__coerce__',
 '__delattr__',
 '__div__',
 '__divmod__',
 '__doc__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__getattribute__',
 '__getnewargs__',
 '__hash__',
 '__hex__',
 '__index__',
 '__init__',
 '__int__',
 '__invert__',
 '__long__',
 '__lshift__',
 '__mod__',
 '__mul__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__oct__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'imag',
 'numerator',
 'real']

In [33]:
class myclass:
    @classmethod
    def myfunc(cls, a, b):
        return a + b
    @staticmethod
    def myfunc2(a, b):
        return a + b

In [26]:
myclass.myfunc(1,2)

3

In [28]:
myclass.myfunc2(3,2)

5

In [29]:
test = myclass()

In [30]:
test.myfunc(2,3)

5

In [32]:
test.myfunc2(4,5)

9

In [34]:
class Date(object):
    day = 0
    month = 0
    year = 0
    
    def __init__(self, day = 0, month =0, year = 0):
        self.day = day
        self.month = month
        self.year = year

In [39]:
dt1 = Date(1,2,3)

In [41]:
dt1.year

3

In [44]:
Date.month

0

In [49]:
lst = [1,2,3,4,5,6,5,4,3,2,1]

In [50]:
set1 = set(lst)

In [51]:
set1

{1, 2, 3, 4, 5, 6}

In [52]:
s='Fuck'

In [53]:
s2=s

In [54]:
s

'Fuck'

In [55]:
s2

'Fuck'

In [56]:
del s2

In [57]:
s

'Fuck'

In [58]:
s2

NameError: name 's2' is not defined

In [143]:
class P(object):
    '''This is class!!'''
    def __init__(self, val):
        self.x = val
        print "Fuck"
    
    @property
    def x(self):
        '''
        Holyshit!!!!!!
        '''
        print "disappointed"
        return self.__x
    
    @x.setter
    def x(self, val):
        if val<0:
            self.__x = 0
            print "shitty"
        elif val>1000:
            self.__x = 1000
            print "shit"
        else:
            self.__x = val
            print "shit2"

In [144]:
p1=P(1001)

shit
Fuck

In [145]:
p1.__doc__

'\n    This is class!!\n    '

In [132]:
dir(p1)

['_P__x', '__doc__', '__init__', '__module__', 'x']

In [93]:
dir(p1)

['_P__x', '__doc__', '__init__', '__module__', 'x']